.idea/
.DS_Store
pretrained_models/
model_checkpoints/
__pycache__/
build/
dist/
*.egg-info/
**/resources/speakers_samples/*/
**/resources/voices_samples/*/
**/resources/keys/*.key
**/resources/secret/*.pem
*.spec
venv/