# Torch deps
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
# openai
openai==1.2.4
openai-whisper==20231117
tiktoken==0.5.2
# vqa
# currently causing conflict must be installed outside of requirements.txt
#salesforce-lavis==1.0.2
# documents indexes
llama_index==0.9.15

# General deps
# To avoid compatibility issues with accelerate
protobuf==3.20.3
numpy==1.22.4
# To avoid whisper using deprecated functions
numba==0.57.0

# TTS
# currently causing conflict must be installed outside of requirements.txt
#TTS==0.22.0
gTTS==2.4.0
elevenlabs==0.2.27
google-cloud-texttospeech==2.15.0

# Support AI libraries
datasets==2.15.0
diffusers==0.24.0
phonemizer==3.2.1
accelerate==0.25.0
speechbrain==0.5.16
transformers==4.33.2

# Sound processing
pydub==0.25.1
librosa==0.10.1
noisereduce==3.0.0

# HTTP server side
flask==2.3.3
flask-cors==4.0.0
flask-socketio==5.3.6
flask_log_request_id==0.10.1
# These flask backend are monothreaded. Causing locks
# eventlet
# gevent-websocket
# HTTP client side
requests==2.31.0
requests_toolbelt==1.0.0

# Cold storage
tinydb==4.8.0

# openai deps
plotly

# other
bs4==0.0.1
lxml==4.9.3
ntplib==0.4.0
pypdf==3.17.2
unidecode==1.3.7
daemonocle==1.2.3
urlextract==1.8.0
apscheduler==3.10.4
pycryptodome==3.19.0
readability-lxml==0.8.1
googlesearch-python==1.2.3
