numpy
openai
torch==1.13.1
openai-whisper
tiktoken

# TTS
gTTS
google-cloud-texttospeech

# AI libraries
datasets
phonemizer
speechbrain
transformers

# Visualization
matplotlib

# Sound processing
pydub
librosa
noisereduce
sounddevice

# HTTP server side
flask
flask-socketio
flask_log_request_id
# for improved socketio websockets
simple-websocket
# These flask backend are monothreaded. Causing locks
# eventlet
# gevent-websocket
# HTTP client side
requests
requests_toolbelt

# Cold storage
tinydb

# other
urlextract
bs4
lxml
readability-lxml
daemonocle

# gui
customtkinter
pygments